.card{
    background-color: rgb(178, 234, 223);
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
   
}

h2{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

h4{
    text-align: left;
    margin-left: 10px;
    margin-top: -10px;
}

.header{
    display: flex;
    flex-direction: row;
}

.close{
    margin-top: 15px;
    justify-content: flex-end; 
    margin-left: 155px;
}
.closeBtn{
    background: none;
    border: none;
}