
<select [(ngModel)]="selectedOption" class="selectBtn" (change)="handleChange($event)">
<option *ngFor="let option of options" [value]="option.id" >{{option.full_name}}</option></select>   

<button (click)="trackTeam(selectedOption)" class="trackBtn">Track Team</button>



<div class="flex row card-container">
  <app-card *ngFor=" let team of selectedTeams" [teamDetails]="team" (removeCard)="removeTeam($event)"
  (showResult)="showResult($event)">
   
  </app-card>

  <!-- <div>{{option.id}}</div> -->
</div>



